/* Coach & Class Serach autocomplete  */
.twitter-typeahead {
    width: 100%;
    float: right;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-dataset .btn { border-radius: 0!important;}

.tt-hint {
    color: #999
}

.img-holder img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
.message_div_1{ display:block;margin:100px auto; text-align: center;border:3px dotted #666;padding:70px 0 70px 0;width:75%;}
.h3-norecord{ margin:0 auto;font-size:48px;color:#666;text-align:center;display:inline-block; line-height:1.4;}
.p-norecord{ margin:0;text-align:center;font-size:14px!important; display:block;}

.tt-menu {
    width: 350px;
    margin: 0px 0 10px 0;
    padding: 0px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    height: 450px;
    overflow: scroll;
	
}

.tt-suggestion {
    padding: 0 0 10px 0px;
    font-size: 12px;
    line-height: normal;
    text-align: left;
    font-weight: 300;
}

.tt-suggestion a{
	color: #333; font-weight: 300;padding: 10px 0;display: block;
}
.name-holder{font-weight: 300; font-size: 12px;}
.name-holder .tt-highlight{font-weight: 300!important;}

.tt-suggestion a :hover{
	color: #333;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #333;
    background-color: #f2f2f2;
}

.tt-suggestion.tt-cursor {
    color: #333;
    background-color: #f2f2f2;

}

.tt-dataset .btn.btn-warning{ 
    color: #fff;
    width: 100%;
    border: none;
    background-color: #f0ad4e;
    padding: 10px 12px;
}

.tt-suggestion p {
    margin: 0;
}

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}
 .empty-message {
    padding: 10px 10px;
    text-align: center;
}

.parent-suggestion-holder {
    margin-bottom: 3px;
}

/* Map */
#map-canvas2
{
    height: 70vh;
}

/* login form validation */
label.error {
    color: indianred;
    padding: 5px;
}

/* sign up form validation */
input.form-control.error {
    border-color: indianred;
}
select.form-control.error {
    border-color: indianred;
}

/* enroll now button on find class listing page */
button.find-class-btn.ijaz_enroll {
    margin: 0 0 20px 0;
    padding: 0;
    height: 35px;
    line-height: 32px;
    vertical-align: middle;
    border: 1px solid #fdb414;
    color: #333;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
   background-color:transparent;
}

button.find-class-btn.ijaz_enroll:hover {
    background-color: #fdb414;
    color:white;
}

/* Heart icon button on coach View Profile */
button#favourite_btn {
    background-color: transparent;
    text-decoration: none;
    border: none;
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.findcoach-profile-div .top-div-right-01 .column-002 .btn-heart.active{font-size: 25px;color:#a83f39;}


/* Delete review button on coach View Profile  */
button.btn.btn-md.delete-review {
    background-color: transparent;
}

/* Remove Coupon button on Cart Page */
.cart-box-div .cart-box .coupon-div .btn-remove-coupon { 
    margin:0; padding:10px 0; 
    background:#fdb414; 
    color:#fff; 
    font-size:14px; 
    text-align:center; 
    display:inline-block; 
    font-weight:300;
    border:0; 
    width:36%; 
    float:left;
}

.remove-item{
    background-color: transparent;
    border: none !important;
    height: 20px;
    width: 20px;
}

input.has-error
{
	border: 1px solid red !important;
}

/* Find a class Audio Progress bar */
.findaclass-container .findaclass-row .top-col .right-col { width:50%;}
.findaclass-container .audio-span {
    margin: 0 10px 0 0;
    display: inline-block;
    top: 3px;
    position: relative;
    width: 30%;
    text-align: left;
}
.findaclass-container .progress {
     margin-bottom:0!important; 
     height: 8px; 
     background-color: #024fb6;
     width: 0px;
     border-radius: 0px;
    }


/* Edit Profile  */
.show_hide {
    display:none;
    padding: 6px;
}
.up_class {
    background: #043c88;
    border: none;
    margin-top: 10px;
    padding: 10px 18px;
    color: white;
}
span.display_block {
     display: block !important;
}
.display_class2 {
    display: none;
}
.m_show {
    display:block !important;
}

/* Buttons on Payment method */

button.set-default {
    background-color: transparent;
    text-decoration: none;
    border: none;
}
button.default {
    background-color: transparent;
    text-decoration: none;
    border: none;
}

button.remove-card {
    background-color: transparent;
    text-decoration: none;
    border: none;
}

.rating-div a {
    font-size: 12px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none;
}

.star-div-fixed a {
    font-size: 18px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none;
}

/* Reset Password Page Validation */
span.invalid-feedback {
    color: indianred;
    line-height: 30px;
}

h4.modal-title {
    color: #fff;
    text-align: center;
    padding: 40px 0px 0 15px;
    text-transform: uppercase;
}
.cropper-view-box {
    border-radius: 100%;
}
.docs-preview .img-preview{
	border-radius: 100%;
}
.cropping_tool .img-container {
    min-height: 500px;
	height: 500px;
}
.pagination>li>.page-link {
    padding: 10px 20px;
}

/* coach link on class detail page */
a.coach-link {
    color: #0039b9;
}


/* Payment Fail  */
.fail-div{ margin:200px auto 0 auto;padding: 20px 0 40px 0;background-color: #fff;width: 50%;border-radius:4px; transition:0.4s all ease-in-out; }
.fail-div:hover{ box-shadow: 0 0px 10px 0 rgba(0,0,0,0.20); }
.fail-div h1{ margin:0;padding: 20px 0 10px 0;font-size: 42px;font-weight: 700;color: 222; text-align: center;text-transform: uppercase;color: #fdb414;}
.fail-div h2{ margin:0;padding: 10px 0;font-size: 24px;font-weight: 600;color:red;text-align: center;text-transform: none;display: block;text-transform: uppercase;}
.fail-div p{ margin:0;padding: 10px 0 20px 0;font-size: 16px;font-weight: 400;line-height: 1.4;text-align: center;color: red;display: block;}
.fail-div .a-fail{margin: 0;padding: 15px 40px;background: #fdb414;color: #fff;font-size: 14px;text-align: center;display: inline-block;transition:0.4s all ease-in-out; }
.fail-div .a-success:hover{background: #033177;color: #fff;}
.round-span-cross-icon {height: 60px;width: 60px;margin: 20px auto;line-height: 60px;text-align: center;background-color: #fff;border: 1px solid red;border-radius: 100%;display: block;transform: scale(1);transition:0.4s all ease-in-out;}
.round-span-cross-icon i{color:red;font-size: 18px;line-height: 60px;}
.middle-container.thankyou{ margin: 0 0 0 0; }
/* End of Payment Fail */


/*  image-modal */
img.img-responsive.img-profile {
    width: 100%;
}

/* Fonts on purchased class page  */
p.no-class-found {
    font-size: 20px;
}

@media only screen and (max-width: 767px)
{

	.message_div_1{ margin:100px auto; text-align: center;border:3px dotted #666;padding:20px 0 20px 0;width:95%;}
	.h3-norecord{ margin:0 auto;font-size:24px;color:#666;padding:20px 0; text-align:center;display:inline-block; line-height:1.4;}
	.p-norecord{ margin:0;text-align:center;font-size:14px!important; display:block;}

}

@media only screen and (max-width: 1024px) and (min-width: 768px)
{
	.message_div_1{ margin:100px auto; text-align: center;border:3px dotted #666;padding:20px 0 20px 0;width:95%;}
}

.highlight {
    background-color: yellow;
}